// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

article

html, body
	height 100%
	font-size 100%
	padding 0
	margin 0

@font-face
	font-family 'Lato-Thin'
	src url('../dist/Lato2OFL/Lato-Thin.tff') format('truetype')

body
	font-family 'Lato-Thin', sans-serif
	overflow hidden

section
	display none

.bespoke-slide
	display block

.bespoke-parent
	position relative
	width 100%
	height 100%
	-webkit-perspective 1200px
	-moz-perspective 1200px
	perspective 1200px
	overflow hidden

.bespoke-slide
	width 100%
	height 100%
	position absolute
	top 240px
	left 320px
	visibility hidden
	overflow hidden
	background: -webkit-linear-gradient(left top, #00d2ff, #3a7bd5)
	background -moz-linear-gradient(bottom right, #00d2ff, #3a7bd5)
	background linear-gradient(to bottom right, #00d2ff, #3a7bd5)

section.bespoke-slide
	display block

.bespoke-inactive
	visibility hidden

.bespoke-active
	visibility visible
	z-index 1

.fx-transitioning-ing, 
.fx-transitioning-out
	visibility visible

h1
	font-family 'Lato-Thin', sans-serif
	font-weight bold
	letter-spacing 6px
	color white
	-webkit-align-content center
    align-content center

h2
	font-family 'Lato-Thin', sans-serif
	font-weight normal
	letter-spacing 3px
	color white

h3
	font-family 'Lato-Thin', sans-serif
	font-weight normal
	letter-spacing 3px
	color white

p
	font-family 'Lato-Thin', sans-serif
	font-weight normal
	letter-spacing 3px
	color white

#logo
	margin-top	10%
	font-color white
