doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title freelancer.co.id
    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='stylesheet', type='text/css', href='build/themes.css')

  body

    article.classic

      section
        #logo
        img(src='images/logo freelancer.png')
        br
        br
        br
        br
        br
        #kelompok
        h2 Presentasi oleh:
        br
        br
        h3 Roberto (121110766)
        h3 Fransiska(121112333)
        h3 Juandy Hartanto (121110669)

      section
        #slide
          h1 Apa itu Freelancer?
          br
          img(src='images/web screen.png')
          br
          p Freelancer adalah pasar/bursa tenaga kerja secara online menghubungkan para user di seluruh dunia. 
          br

          #link
            <a href="https://www.freelancer.co.id">www.freelancer.co.id</a>

      section
        #slide
          h1 Siapa yang terlibat dalam freelancer?
          br
          br
          #textbox1
            img(src='images/post projects.png')
            h2 Employer
            p Orang yang memberikan pekerjaan, dimana mereka perlu mencari tenaga kerja/freelancer untuk menyelesaikan pekerjaan mereka.
           
          #textbox2
            img(src='images/doing projects.png')
            h2 Freelancer
            p Orang yang mengerjakan/mencari pekerjaan/proyek yang dipostingkan oleh para Employer.

      section
        #slide
          h1 Apa yang diperjualbelikan?
          br
          h2 Pekerjaan
          br
          p Jenis pekerjaan yang disediakan dalam freelancer.co.id :
          img(src='images/job.jpg')

      section
        
      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')