doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title One piece's crew

    link(rel='stylesheet', href='build/main.css')
    link(rel='stylesheet', href='build/animations.css')  
    link(rel='stylesheet', href='build/style.css')  

  body

    article

      section(data-bespoke-fx-transition="slide")
        h1 Luffy and Nakama

      section(data-bespoke-fx-transition="scale-down-out-move-in")
        h1 Luffy
        pre Monkey D. Luffy, also known as "Straw Hat Luffy". 

      section(data-bespoke-fx-direction="vertical")
        h1 Zoro
        pre Roronoa Zoro, also known as "Pirate Hunter Zoro".

      section(data-bespoke-fx-transition="scale-up-up")
        h1 Nami
        pre Nami is a young, normal-sized and slim girl.

      section(data-bespoke-fx-transition="scale-down-up")
        h1 Usopp
        pre Usopp is the sniper. 

      section(data-bespoke-fx-transition="glue")
        h1 Sanji
        pre "Black Leg" Sanji is a pirate and the cook. 

      section(data-bespoke-fx-transition="flip")
        h1 Chopper
        pre Tony Tony Chopper is the doctor. 

      section(data-bespoke-fx-transition="fall")
        h1 Robin
        pre Nico Robin, is the archaeologist. 

      section(data-bespoke-fx-transition="newspaper")
        h1 Franky
        pre Franky is the shipwright.

      section(data-bespoke-fx-transition="push")
        h1 Brook
        pre Brook is the musician.

    script(src='build/modernizr.custom.js')
    script(src='build/bespoke.js')
    script(src='build/bespoke-fx.js')
    script(src='build/script.js')