doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Freelancer
    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='stylesheet', type='text/css', href='build/themes.css')
    link(rel='stylesheet', type='text/css', href='build/main.css')

  body

    article.classic

      section
        #logo
        img(src='images/logo freelancer.png')
        br
        br
        br
        br
        #kelompok
        h2 Presentasi oleh:
        br
        br
        h3 Roberto (121110766)
        h3 Fransiska(121112333)
        h3 Juandy Hartanto (121110669)

      section
        #slide
          h1 Apa itu Freelancer?
          br
          img(src='images/web screen.png')
          br
          p Freelancer adalah pasar/bursa tenaga kerja secara online menghubungkan para user di seluruh dunia. 
          br

          #link
            <a href="https://www.freelancer.co.id">www.freelancer.co.id</a>

      section
        #slide
          h1 Siapa yang terlibat dalam Freelancer?
          br
          br
          #textbox1
            img(src='images/post projects.png')
            h2 Employer
            p Orang yang memberikan pekerjaan, dimana mereka perlu mencari tenaga kerja/freelancer untuk menyelesaikan pekerjaan mereka.
           
          #textbox2
            img(src='images/doing projects.png')
            h2 Freelancer
            p Orang yang mengerjakan/mencari pekerjaan/proyek yang dipostingkan oleh para Employer.

      section
        #slide
          h1 Apa yang diperjualbelikan?
          br
          h2 Pekerjaan
          p Jenis pekerjaan yang disediakan dalam freelancer.co.id :
          img(src='images/job.jpg')

      section
        img(src='images/job ti.jpg')

      section
        #slide
          h1 Bagaimana cara kerjanya?
          br
          h3
            ul
              li 1.	Employer Posting Proyek
              li 2.	Para freelancer menawarkan jasanya pada proyek tersebut (bidding)
              li 3. Employer memilih freelancer di antara sekian banyak penawar (bidder)
              li 4.	Employer membuat pembayaran milestones (tanda jadi) sesuai permintaan freelancer
              li 5.	Freelancer menyerahkan hasil kerjaan ke employer
              li 6.	Employer merilis milestones
              li 7.	Employer mendapatkan hasil pekerjaannya, Freelancer mendapatkan bayarannya

      section
        img(src='images/contoh kasus.jpg')

      section
        h1 Bagaimana transaksi pembayaran dilakukan?
          br
          br
          #textbox1
            h2 Untuk Employer
            p Bisa membuat pembayaran milestones yang nantinya diterima oleh si freelancer melalui kartu kredit, PayPal ataupun Skrill.
           
          #textbox2
            h2 Untuk Freelancer
            p Bisa menerima pembayaran melalui Paypal atau Skrill.

          #textbox3
            h2 Antara Employer dan Freelancer
            p Dana pembayaran tanda jadi (milestones payment) yang ditahan oleh pihak Freelancer.com dan dirilis di akhir proyek oleh employer akan dikreditkan masuk ke dalam saldo akun si freelancer di situs Freelancer.com.

      section
        h1 Menjadi Freelancer di Freelancer.co.id
          br
          h3
            ul
              li 1.	Gratis menjadi anggota dalam freelancer.co.id
              li 2.	Lengkapi profil anda seperti Pendidikan, Pengalaman kerja, Sertifikat, Portofolio, dan Keahlian/Skill anda
              li 3. Cari proyek di Freelancer sesuai keahlian anda
              li 4.	Pastikan proposal Anda berisi kata-kata yang langsung pada kasus proyek yang diminta oleh employer
              li 5.	Jatah bid untuk anggota GRATIS adalah maksimum 10 bid dalam sebulan

      section
        #lastpage
         h1 Sekian dan Terima Kasih

    script(src='build/build.js')